.idea/
__pycache__/
csv/
syngrid.egg-info/
examples/.ipynb_checkpoints/
results/figures/
results/grids/
results/grid_parameters/

examples/results/
gui/IDP_MapTool_Flask/maptool/urbs_results/plots/cap_pro.html
gui/IDP_MapTool_Flask/maptool/urbs_results/plots/e_pro_in.html
gui/IDP_MapTool_Flask/maptool/urbs_results/plots/e_pro_out.html
docs/source/images/dev/sequence/pylovo_sequence_postcode_id.clip
docs/source/images/dev/sequence/pylovo_sequence_network.clip
