<div class="popup-window">
    <div class="popup-window__div" id="plzVersionPopupForm">
      <form class="popup-window__div__form">
        The following versions are available for the given PLZ:
        <div class="popup-window__div__form__version-select" id="versionRadioButtons">
        </div>
        <button type="button" class="btn" onclick="maptool_display_postcode.chooseVersionOfPlzNetwork()">Choose Version</button>
        <button type="button" class="btn cancel" onclick="maptool_display_postcode.closeForm('plzVersionPopupForm')">Cancel</button>
      </form>
    </div>
  </div>