{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <h1></h1>
    <div class="feature-editor">
      <div class="feature-editor__buttons-tab">
        <button class="feature-editor__buttons-tab__tablinks" id="busListButton" onclick="maptool_net_display.openEditableNetworkList(event, 'bus')"><span>Buses</span></button>
        <button class="feature-editor__buttons-tab__tablinks" id="lineListButton" onclick="maptool_net_display.openEditableNetworkList(event, 'line')"><span>Lines</span></button>
        <button class="feature-editor__buttons-tab__tablinks" id="trafoListButton" onclick="maptool_net_display.openEditableNetworkList(event, 'trafo')"><span>Trafos</span></button>
        <button class="feature-editor__buttons-tab__tablinks" id="trafo3wListButton" onclick="maptool_net_display.openEditableNetworkList(event, 'trafo3w')"><span>Trafos 3w</span></button>
        <button class="feature-editor__buttons-tab__tablinks" id="ext_gridListButton" onclick="maptool_net_display.openEditableNetworkList(event, 'ext_grid')"><span>Ext. Grid</span></button>
        <button class="feature-editor__buttons-tab__tablinks" id="std_typesListButton" onclick="maptool_net_display.openEditableNetworkList(event, 'std_types')"><span>Std Types</span></button>
      </div>
      <div class="feature-editor__featurelist-tab" id="bus">
        <button class="button feature-editor__featurelist-tab__add-feature-button" onclick="maptool_add_delete.addFeature('bus')">Add Bus</button>
        <select class ="feature-editor__featurelist-tab__feature-select" id="busSelect" onchange="maptool_net_display.fillSelectedEditableNetworkFeatureEditor(this, 'bus')" multiple></select>
      </div>
      <div class="feature-editor__featurelist-tab" id="line">
        <button class="button feature-editor__featurelist-tab__add-feature-button" onclick="maptool_add_delete.addFeature('line')">Add Line</button>
        <select class ="feature-editor__featurelist-tab__feature-select"  id="lineSelect" onchange="maptool_net_display.fillSelectedEditableNetworkFeatureEditor(this, 'line')" multiple></select>
      </div>
      <div class="feature-editor__featurelist-tab" id="trafo">
        <button class="button feature-editor__featurelist-tab__add-feature-button" onclick="maptool_add_delete.addFeature('trafo')">Add Trafo</button>
        <select  class ="feature-editor__featurelist-tab__feature-select" id="trafoSelect" onchange="maptool_net_display.fillSelectedEditableNetworkFeatureEditor(this, 'trafo')" multiple></select>
      </div>
      <div class="feature-editor__featurelist-tab" id="trafo3w">
        <button class="button feature-editor__featurelist-tab__add-feature-button" onclick="maptool_add_delete.addFeature('trafo3ws')">Add Trafo 3w</button>
        <select class ="feature-editor__featurelist-tab__feature-select" id="trafo3wSelect" onchange="maptool_net_display.fillSelectedEditableNetworkFeatureEditor(this, 'trafo3w')" multiple></select>
      </div>
      <div class="feature-editor__featurelist-tab" id="ext_grid">
        <button class="button feature-editor__featurelist-tab__add-feature-button" onclick="maptool_add_delete.addFeature('ext_grid')">Add Ext. Grid</button>
        <select class ="feature-editor__featurelist-tab__feature-select" id="ext_gridSelect" onchange="maptool_net_display.fillSelectedEditableNetworkFeatureEditor(this, 'ext_grid')" multiple></select>
      </div>  
      <div class="feature-editor__featurelist-tab" id="std_types">
        <button type='button' class="accordion button feature-editor__featurelist-tab__add-feature-button"  id="line_std_typesSelectButton">Line Std Types</button>
        <select class ="panel feature-editor__featurelist-tab__stdtype-feature-select" id="line_std_typesSelect" onchange="maptool_net_display.fillStdTypeEditor(this, 'line_std') " multiple></select>
        <button type='button' class="accordion button feature-editor__featurelist-tab__add-feature-button"  id="trafo_std_typesSelectButton">Trafo Std Types</button>
        <select class ="feature-editor__featurelist-tab__stdtype-feature-select" id="trafo_std_typesSelect" onchange="maptool_net_display.fillStdTypeEditor(this, 'trafo_std')" multiple></select>
        <button type='button' class="accordion button feature-editor__featurelist-tab__add-feature-button"  id="ext_grid_std_typesSelectButton">Trafo3w Std Types</button>
        <select class ="feature-editor__featurelist-tab__stdtype-feature-select" id="trafo3w_std_typesSelect" onchange="maptool_net_display.fillStdTypeEditor(this, 'trafo3w_std')" multiple></select>
      </div>
      <div class="feature-editor__selected-feature-editor" id="busEditor">
          <form id="busForm"></form>
          <button class="button feature-editor__selected-feature-editor__delete-button" onclick="maptool_add_delete.prepareFeatureDelete('bus', ['line', 'trafo', 'trafo3w', 'ext_grid'])">Delete Feature</button>
      </div>
      <div class="feature-editor__selected-feature-editor__secondary-editor" id="loadEditor">
        <form id="loadForm"></form>
      </div>
      <div class="feature-editor__selected-feature-editor__secondary-editor" id="sgenEditor">          
        <form id="sgenForm"></form>
      </div>
      <div class="feature-editor__selected-feature-editor__secondary-editor" id="switchEditor">
        <form id="switchForm"></form>
      </div>
      <div class="feature-editor__selected-feature-editor" id="lineEditor">
        <form id="lineForm"></form>
        <button class="button feature-editor__selected-feature-editor__delete-button" onclick="maptool_add_delete.deleteFeature('line')">Delete Feature</button>
      </div>
      <div class="feature-editor__selected-feature-editor" id="trafoEditor">
        <form id="trafoForm"></form>
        <button class="button feature-editor__selected-feature-editor__delete-button" onclick="maptool_add_delete.deleteFeature('trafo')">Delete Feature</button>
      </div>
      <div class="feature-editor__selected-feature-editor" id="trafo3wEditor">
        <form id="trafo3wForm"></form>
        <button class="button feature-editor__selected-feature-editor__delete-button" onclick="maptool_add_delete.deleteFeature('trafo3w')">Delete Feature</button>
      </div>
      <div class="feature-editor__selected-feature-editor" id="ext_gridEditor">
        <form id="ext_gridForm"></form>
        <button class="button feature-editor__selected-feature-editor__delete-button" onclick="maptool_add_delete.deleteFeature('ext_grid')">Delete Feature</button>
      </div>
      <div class="feature-editor__selected-feature-editor" id="std_typesEditor">
        <form id="line_std_typesForm"></form>
        <form id="trafo_std_typesForm"></form>
        <form id="trafo3w_std_typesForm"></form>
        <button class="button feature-editor__selected-feature-editor__delete-button" onclick="maptool_add_delete.deleteFeature('std_types')">Delete Feature</button>
      </div>
    </div>

    <div class="optionsPopup">
      <div class="formPopup" id="popupForm">
        <form class="formContainer">
          All features connected to the bus will also be deleted
          <button type="button" class="btn" onclick="maptool_add_delete.deleteConnectedFeatures()">Delete Features</button>
          <button type="button" class="btn cancel" onclick="maptool_add_delete.closeForm()">Cancel</button>
        </form>
      </div>
    </div>

    <div class="action-buttons">
      <a href="/urbs">
        <button class="button action-buttons__button" type="button" id="returnEditedNetButton" onclick="maptool_return_net.returnEditedNet()">Finish Editing</button>
      </a>
    </div>

    <script defer src="{{url_for('static', filename='/network_editor/generate_editable_network.js')}}"></script>
    <script defer src="{{url_for('static', filename='/network_editor/display_editable_network_features.js')}}"></script>
    <script defer src="{{url_for('static', filename='/network_editor/collect_returnable_network_features.js')}}"></script>
    <script defer src="{{url_for('static', filename='/network_editor/add_delete_new_network_features.js')}}"></script>
{% endblock %}

