{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="list-selection">
  <select id="networkSelect" class ="feature-editor__featurelist-tab__feature-select" size="24" onchange="maptool_display_postcode.highlightSelectedPreviewLayer(this)"></select>
</div>

{% include "postcode_editor/include/fetch_networks_by_id_form.html" %}

{% include "postcode_editor/include/new_grid_by_shape_form.html" %}

<div class="action-buttons">
  <div class="action-buttons-searchfield">
    <select id="PLZ" style="width:200px;">
      <option selected disabled hidden value="0">Select PLZ ID:</option>
    </select>
    <button class="button action-buttons__button" id="submit-plz-button" type="submit" onclick="maptool_display_postcode.selectVersionOfPostalCodeNetwork()">Submit</button>
  </div>
  <button class="button action-buttons__button" id="selectPLZAreaButton" type="button" onclick="maptool_display_postcode.getPostalCodeAreaByShape(this)" disabled>Select Area</button>
    <button class="button action-buttons__button" id="selectNetworkButton" type="button" onclick="maptool_display_postcode.sendBackSelectedNetworkKcidBcid()" disabled>Select Network</button>
  </a>
</div>  

<script defer src="{{url_for('static', filename='/postcode_editor/display_postcode.js')}}"></script>
<script defer src="{{url_for('static', filename='/network_editor/generate_editable_network.js')}}"></script>
{% endblock %}