{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="list-selection">
  <select id="networkSelect" class ="feature-editor__featurelist-tab__feature-select" size="24" onchange="maptool_display_postcode.highlightSelectedPreviewLayer(this)"></select>
</div>

<div class="optionsPopup">
  <div class="formPopup" id="plzAreaPopupForm">
    <form class="formContainer">
      Please define an ID and version number for your new network:
      <div class="form-popup__version-select" >
        <input type="text" id="newNetIDInput" placeholder="ID (6 Digits)" pattern="[1-9][0-9]{5}" minlength="6" maxlength="6" required>
        <input type="text" id="newNetVersionInput" placeholder="Version (max. 6 Digits)" pattern="(([1-9]{1,2})[.]){0,1}[0-9]{1,3}" minlength="1" maxlength="6" required >
      </div>
      <button type="button" class="btn" id="submitBtn" onclick="maptool_display_postcode.returnSelectedBuildings()" disabled>Generate Network</button>
      <button type="button" class="btn cancel" onclick="maptool_display_postcode.closeForm('plzAreaPopupForm')">Cancel</button>
    </form>
  </div>
</div>


<div class="optionsPopup">
  <div class="formPopup" id="plzVersionPopupForm">
    <form class="formContainer">
      The following versions are available for the given PLZ:
      <div class="form-popup__version-select" id="versionRadioButtons">
      </div>
      <button type="button" class="btn" onclick="maptool_display_postcode.chooseVersionOfPlzNetwork()">Choose Version</button>
      <button type="button" class="btn cancel" onclick="maptool_display_postcode.closeForm('plzVersionPopupForm')">Cancel</button>
    </form>
  </div>
</div>

<div class="action-buttons">
  <div class="action-buttons-searchfield">
    <input type="number" id="PLZ" value="80801">
    <button class="button action-buttons__button" id="submit-plz-button" type="submit" onclick="maptool_display_postcode.selectVersionOfPostalCodeNetwork()">Submit</button>
  </div>
  <button class="button action-buttons__button" id="selectPLZAreaButton" type="button" onclick="maptool_display_postcode.getPostalCodeArea(this, 'plz-area')" disabled>Select Area</button>
  <a href="/networks" >
    <button class="button action-buttons__button" id="selectNetworkButton" type="button" onclick="maptool_display_postcode.sendBackSelectedNetworkKcidBcid()" disabled>Select Network</button>
  </a>
</div>  

<script defer src="{{url_for('static', filename='/postcode_editor/display_postcode.js')}}"></script>
<script defer src="{{url_for('static', filename='/network_editor/generate_editable_network.js')}}"></script>
{% endblock %}